<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titulo %></h1>
    <p>Convocatoria del año : <%= convocatoria %></p>
    <p>Centro de formación: <%= academia %></p>
    <p>Estamos en la clase <%= clase %></p>
    <p>Haciendo el curso de <%= curso %></p>
  </body>
</html>
